
@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_Master.cshtml";
}


@using (Html.BeginForm("Email", "DatosEmail", FormMethod.Post))
{

    <div class="texto">
        <h4> ¿Lista para seguir ganando ?</h4>
    </div>
    <input type="text" name="vchEmail" id="vchEmail" class="form-control" placeholder="Ingresa tu email" />

    <p class="submit">
        <input type="submit" name="wp-submit" id="btnsubmit" class="btn btn-primary btn-border" value="Enviar..." />
    </p>
}

