
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}





@using (Html.BeginForm("Index", "DatosEmail", FormMethod.Post, new { @class = "theme-form" }))
{
    <div class="center-align">
        <h2>Felicitaciones </h2>
    </div>
    <div>
        <h3>Haz ganado un 5% de descuento en tu siguiente pedido! </h3>
    </div>
    <div class="center-align">
        <h4>¿Quieres seguir ganando?</h4>
    </div>


    <dev class="">
        <input type="submit" name="wp-submit" id="wp-submit" class="btn btn-primary btn-border" value="Descubre Cómo" />
    </dev>

}