
@{
    ViewBag.Title = "Confirmacion";
    Layout = "~/Views/Shared/_Master.cshtml";
}



@using (Html.BeginForm("Consultora", "Datos", FormMethod.Post, new { @class = "theme-form" }))
{
    <div class="texto">
        <h4>ya casi...</h4>

    </div>

    <div class="team">

        <h6>  Te hemos enviado un mensaje.  Haz click en el <ins>link</ins> para que puedas acceder al beneficio.</h6>
    </div>

}




