
@{
    ViewBag.Title = "Confirmacion";
    Layout = "~/Views/Shared/_MasterMob.cshtml";
}

<div class="Pantalla3">
    <div class="container Borde">
        <div class="row bordePagina2">

            <div class="col-md-3 pantalla2Panel1 ancho1">
                <div>
                    <img src="~/imagenes/icono.png" class="imageIcono" />
                </div>
            </div>

            <div class="col-md-6">

                <main role="main" class="bajar60 padbot30">

                    <div class="ancho izquierda">
                        <div class="">
                            <div class="col-12">
                                <img src="~/imagenes/icono.png" />
                            </div>
                        </div>
                    </div>
                    <div class="fondo">
                        <div class="content-body contenidoNaranja">
                            <div class="row margen izquierda">
                                <div class="col-md-12">
                                    <img src="~/imagenes/check.png" />
                                </div>
                            </div>

                            <div class="row margen">
                                <div class="col-md-12 izquierda">
                                    <div class="form-group">
                                        <label class="form-label">
                                            <h5>
                                                Hemos enviado un SMS a tu celular para confirmar tu número.
                                            </h5>
                                            <h5>

                                                <strong>Haz clic al link del mensaje </strong>para participar en el
                                                sorteo de 7 paquetes de 10,000 millas LATAM (Podrán ser equivalentes a 1 o más pasajes ida 
                                                y vuelta a cualquier destino del Perú según condiciones y políticas de LATAM).
                                            </h5>
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="row margen centrar">
                                <div class="col-md-12">
                                    <div class="form-group">

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </main>

            </div>
            <div class="col-md-3 pantalla2Panel2">
            </div>
        </div>

    </div>
</div>