
@{
    ViewBag.Title = "Confirmacion";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<div class="col-lg-12 register-page">
    <div class="theme-card">
        @using (Html.BeginForm("Consultora", "Datos", FormMethod.Post, new { @class = "theme-form" }))
        {
            <div class="texto">
                <h4>Ya casi...</h4>

            </div>

            <div class="team">

                <h6>  Te Hemos enviado un mensaje.  <ins>Haz click en el link</ins> para que puedas acceder al beneficio.</h6>
            </div>






        }
    </div>
</div>




