@model ActualizacionDatosCampaña.Models.DatoModel
@{
    ViewBag.Title = "Datos";
    Layout = "~/Views/Shared/_Master.cshtml";
}



        @using (Html.BeginForm("Consultora", "Datos", FormMethod.Post, new { @class = "theme-form" }))
        {

            <div class="dashboard">
                <div class="box-head">
                    <h2>  Hola, @Model.vchNombre </h2>
                </div>

            </div>

            <div class="texto">
                <h4> comencemos... </h4>
            </div>
            <input type="text" name="vchTelefono" id="vchTelefono" class="form-control" placeholder="Ingresa tu número celular" />

            <div class="submit">
                <input type="submit" name="wp-submit" id="btnsubmit" class="btn btn-primary btn-border" value="Enviar..." />
            </div>

        }


@section scripts{
    <script type="text/javascript" >
        $(function () {
               $("#vchTelefono").inputmask({ "mask": "999-999-999" });
        });
    </script>
}


