@model ActualizacionDatosCampaña.Models.ConsultoraModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}




@using (Html.BeginForm("Index", "Datos", FormMethod.Post, new { @class = "theme-form" }))
{


    <div class="texto">
        <h4>  Actualiza y gana.. </h4>
    </div>


    <p>
        <label for="user_pass">
            Ingresa tu dni:<br />

        </label>
        <input type="text" name="vchDato" id="vchDato" class="form-control" />

    </p>
    <p class="forgetmenot">
        <label class="icheck-label form-label" for="rememberme">

            @Html.CheckBoxFor(model => model.bitTerminosCondiciones, new { @class = "" })
        </label>
        <a href=@Url.Content("~/Pdf/Terminos_Condiciones.pdf") target="_blank" class=""> Acepto Términos y Condiciones </a>
    </p>

    <div>
        <p> @Html.ValidationSummary()</p>
    </div>

    <div class="submit">
        <input type="submit" name="wp-submit" id="btnsubmit" class="btn btn-primary btn-border" value="COMENZAR" />
    </div>

}

