<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/mobil.css" rel="stylesheet" />


<div class="container Pantalla1">
    <div class="row borde">

        <div class="col-md-8 contact-form">
            <h2>Let's lalk about your idea</h2>
            <form action="assets/mail/contact.php" method="POST" class="contact-form">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                            <span class="alert-error"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" id="email" name="email" placeholder="Email*" type="email">
                            <span class="alert-error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
                            <span class="alert-error"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group comments">
                            <textarea class="form-control" id="comments" name="comments" placeholder="Tell Us About Project *"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <button type="submit" name="submit" id="submit">
                            Send Message <i class="fa fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
                <!-- Alert Message -->
                <div class="col-md-12 alert-notification">
                    <div id="message" class="alert-msg"></div>
                </div>
            </form>
        </div>

        <div class="col-md-4">
        </div>
    </div>
</div>