<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Yanbal de Perú</title>
</head>
<body>
    <br />
    <br />

    <div class="row" style="border: 3px solid #ff7810; width: 80%; border-collapse: collapse; padding-left:3em;padding-right:3em; ">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <h1 style="color:#ff7810"> <em>ACTUALIZACION DE DATOS</em> </h1>
                <br />
                <p><strong>Hola </strong> </p>
                <br />

                <p>{Mensaje_Cuerpo_Email}</p>
               
                <p></p>
                <p>FechaRegistro : {fechaRegistro}</p>
                <p>Email : {Email}</p>

                <br />
                <p>Para validar el envio, hacer click en el siguiente <a href={Link}>Link</a></p>
                <br />
                <br />
                <br />
                <br />
                <br />
                <!--<a><img src="../../Image/yanbal-logo.png" /></a>-->
                <br />
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="mod-2"></div>
            <div class="md-6">

               
                <!--<img src="http://www.google-analytics.com/collect?v=1&tid=UA-113506494-1&cid={codConsultora}&t=event&ec=email&ea=open&el={codConsultora}&cs=premio&cm=email&cn={premioUrl}&cm1=1" />-->

                <br />
                <br />
                <br />
                <br />
            </div>
            <div class="mod-2"></div>
        </div>

    </div>
    <br />
    <br />
    <br />

</body>
</html>