
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}


@using (Html.BeginForm("Index", "FinalDatos", FormMethod.Post, new { @class = "theme-form" }))
{
    <div class="texto">
        <h4>Gracias</h4>

    </div>

   

}

